# File types
*.parquet
*.pyc

# Directories
CARLA/
**pycache**/
notebooks/

# Specific files and directories (using relative paths)
prod_code/GPU_udl_tle_df_paraquet.py
output/model_metrics.csv
models/anomaly_model
models/anomaly_model_vae
results/anom_df_inference_all_sats_0.csv
